*{
    transition: background-color 0.5s;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}
#content-view{
    height: calc(100vh - 100px);
    padding-top: 50px;
    padding-bottom: 50px;;
    overflow: scroll;
}

.dark-mode{
    $darkModeColor:rgb(79, 77, 77);
    .van-button.van-button--default.van-button--large.van-dialog__cancel{
        background-color: $darkModeColor;
    }
    .van-dialog{
        background-color: $darkModeColor !important;
        .van-button.van-button--default.van-button--large.van-dialog__confirm{
            background-color: $darkModeColor;
        }
    }
    .van-popup.van-popup--round.van-popup--center{
        background-color: $darkModeColor;
        .van-icon{
            background-color: inherit !important;
        }
        input{
            background-color: inherit !important;
        }
        .van-stepper__plus{
            background-color: inherit !important;
        }
        .van-stepper__minus{
            background-color: inherit !important;
        }
        .van-checkbox__icon--checked{
            border: 1px solid blue;
        }
    }
    div{
        // background-color: rgb(70, 70, 70);
        color: whitesmoke;
        #content-view,#single-history,.van-cell,.van-tab{
            background-color: $darkModeColor;
            color: whitesmoke;
        }
        
        #user-chose-button{
            background-color: $darkModeColor !important;
            box-shadow: white 0px 1px 25px 1px !important;
        }
        *{
            color: whitesmoke !important;
        }
        #weather{
            #today{
                background-color: black;
            }
        }
        #nav-bar-bottom{
            background-color: $darkModeColor;
        }
        #nav-bar-top{
            background-color: $darkModeColor;
        }
        .cloth-list{
            background-color: $darkModeColor;
        }
    }
   
}

#cloth-props-popup-window {
    margin: 1rem 1rem 0 1rem;
    span[id="title"]{
        display: flex;
        justify-content: center;
        font-size: large;
    
    }
    .cloth-props {
        margin-bottom: 1rem;

        span {
            display: block;
            margin: 3px;

            &[class="props-title"] {
                margin-bottom: 0.1rem;
                color: rgb(36, 134, 173);
                &::before{
                    content: "";
                    display: block;
                    border: 0.1px dashed gray;
                    margin: 2px;
                  
                }
            }
        }

    }
}